.sidebar {
  height: 100%;
  border: none !important;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #141b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 24px;
    font-weight: bold;
  }
}
